
x64/
.vs/
.vscode/
.idea/
__pycache__/
unitTests/testScripts/termcolor.py
.settings/
.project/
*.prefs
*.tmp
*.filters
*.user
*.directory

unitTests/src/cmake-build-debug/

unitTests/src/cmake-build-release/

unitTests/src/build/

unitTests/lib/

example/build/
