
unitTests/build/NumC/x64/*
unitTests/build/x64/*
unitTests/build/.vs/*
unitTests/testScripts/.idea/*
unitTests/testScripts/__pycache__/*
unitTests/testScripts/.idea/workspace.xml
unitTests/testScripts/termcolor.py
