
.vs/
.vscode/
.VSCodeCounter/
.idea/
.pytest_cache/
__pycache__/
.settings/
.project/
*.prefs
*.tmp
*.filters
*.user
*.directory
*build/
*buildVS/
*bin/
*lib/
*.exp
*.lib
*.pyd
*.so

*.tar
Testing/
