name: Tests

on:
  push:
  pull_request:
    branches: ["master", "develop"]

jobs:
  test_linux_cxx_17_single_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 17
          numcpp_use_multithread: false
          sudo: sudo

  test_linux_cxx_17_multi_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 17
          numcpp_use_multithread: true
          sudo: sudo

  test_linux_no_boost_cxx_17_single_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 17
          numcpp_use_multithread: false
          sudo: sudo

  test_linux_no_boost_cxx_17_multi_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 17
          numcpp_use_multithread: true
          sudo: sudo

  test_linux_cxx_20_single_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 20
          numcpp_use_multithread: false
          sudo: sudo

  test_linux_cxx_20_multi_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 20
          numcpp_use_multithread: true
          sudo: sudo

  test_linux_no_boost_cxx_20_single_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 20
          numcpp_use_multithread: false
          sudo: sudo

  test_linux_no_boost_cxx_20_multi_thread:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        uses: ./.github/actions/LinuxEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: bash -l {0}
          boost_root: /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0
          cxx_std_version: 20
          numcpp_use_multithread: true
          sudo: sudo

  test_windows_cxx_17_single_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 17
          numcpp_use_multithread: false

  test_windows_cxx_17_multi_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 17
          numcpp_use_multithread: true

  test_windows_no_boost_cxx_17_single_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 17
          numcpp_use_multithread: false

  test_windows_no_boost_cxx_17_multi_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 17
          numcpp_use_multithread: true

  test_windows_cxx_20_single_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 20
          numcpp_use_multithread: false

  test_windows_cxx_20_multi_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: OFF
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 20
          numcpp_use_multithread: true

  test_windows_no_boost_cxx_20_single_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 20
          numcpp_use_multithread: false

  test_windows_no_boost_cxx_20_multi_thread:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Environment
        id: configure-environment
        uses: ./.github/actions/WindowsEnvironmentSetup

      - name: Build and Test
        uses: ./.github/actions/BuildTestInstall
        with:
          numcpp_no_use_boost: ON
          shell: powershell
          boost_root: ${{ steps.configure-environment.outputs.BOOST_ROOT }}
          cxx_std_version: 20
          numcpp_use_multithread: true
